<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Imglee" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://localhost:5000" />
  <meta property="og:image" content="https://pbs.twimg.com/profile_images/1364633178128994304/yM-RJE7U_400x400.jpg" />
  <meta property="og:description" content="Tim's site built with the flask webframework and lots of duct tape." />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <title>
    {% if title %}{{ title }}{% else %}Welcome to Imglee{% endif %}
  </title>
</head>

<body>

  <section class="hero is-primary">
    <div class="hero-body">
      <p class="title">
        Youtube To .MP3
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <form class="box" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="field has-addons">
              <div class="control">
                {{ form.query(size=32, class_="input", placeholder="https://www.youtube.com/watch?v=VN5kzHnqOCE") }}
              </div>
              <div class="control">
                {{ form.submit(class_="button is-primary") }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% include "_footer.html" %}
</body>

</html>